
.jGeaPm {
background-color: white;
}
.jGeaPm .head-div{
color: rgb(116, 116, 116);;
}
.fRhOkl{
    background-color: white;
}
.pro-sidebar-footer{
    background-color: white;
}
.pro-sidebar-footer div{
    color: rgb(67, 67, 67);
    font-weight: bolder;
}
.sc-hCPjZK div{
    color: rgb(116, 116, 116);
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 0 25px -5px #9e9c9e;
}
