/* 
.pro-sidebar .jGeaPm {
background-color: black;
}
.pro-sidebar .jGeaPm .head-div{
color:#ffffff;
}
.pro-sidebar .fRhOkl{
background-color: black;
} */


.pro-sidebar-footer{
background-color: black;
}
.pro-sidebar-footer div{
    color: #ffffff;
    font-weight: bolder;
background-color: black;
}
/* .sc-hCPjZK div{
    color: #ffffff;
    font-weight: bold;
} */

.card:hover {
    box-shadow: 0 0 25px -5px #ffffff;
}

/* .bJCtfa{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 0%, rgba(28,28,28,1) 100%);

} */
